#main{
    text-align:center;
  }
  #title{
    text-align:center;
  }
  #image{
      width:100px;
      display: block;
      height: auto;
      margin: 0 auto;
  }
  #img-caption{
    display:block;
       text-align: center;
  }
  
  #item {
      max-width: 550px;
      margin: 0 auto 50px auto;
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
      text-align: left;
      line-height: 1.6;
  }